# Byte-compiled / optimized / DLL files
__pycache__/


# Repo ignores
**/data/
**/Rotor37_task/*
**/multi_airfoil/*
**/wandb/
*.err
*.out
**/outputs/*
**/experiments/*
*.npy
**/functa_results/*
*.slurm
**/wandb/*